@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-50: 222.4 68% 95.1%;
    --color-primary-100: 222 65.2% 91%;
    --color-primary-200: 221.9 64.9% 81%;
    --color-primary-300: 222.1 66.2% 72.2%;
    --color-primary-400: 221.7 66% 62%;
    --color-primary-500: 222.2 65.8% 52.9%;
    --color-primary-600: 222.1 65.6% 42.2%;
    --color-primary-700: 222.1 65.6% 32%;
    --color-primary-800: 222.3 66.4% 21%;
    --color-primary-900: 222.2 64.9% 11.2%;

    --color-grey-50: 0 0% 98%;
    --color-grey-100: 0 0% 96.1%;
    --color-grey-200: 0 0% 89.8%;
    --color-grey-300: 0 0% 83.1%;
    --color-grey-400: 0 0% 63.9%;
    --color-grey-500: 0 0% 45.1%;
    --color-grey-600: 0 0% 32.2%;
    --color-grey-700: 0 0% 25.1%;
    --color-grey-800: 0 0% 14.9%;
    --color-grey-900: 0 0% 9%;

    --color-bg-light: 0 0% 95.3%;
    --color-bg-dark: 0 0% 7.1%;
    --color-bg: var(--color-bg-light);

    --color-heading-light: var(--color-grey-900);
    --color-heading-dark: var(--color-grey-50);

    --color-text-light: var(--color-grey-800);
    --color-text-dark: var(--color-grey-200);

    --color-heading: var(--color-heading-light);
    --color-text: var(--color-text-light);
  }

  .dark {
    --color-bg: var(--color-bg-dark);
    --color-heading: var(--color-heading-dark);
    --color-text: var(--color-text-dark);
  }

  html {
    @apply h-full w-full;
  }

  body {
    @apply h-vh w-screen overflow-hidden bg-bg font-primary leading-normal text-text transition-bg-color;

    background-image: url(/images/bg/bg.svg);
    background-size: 12px;
    background-repeat: repeat;
  }

  *,
  *::before,
  *::after {
    @apply m-0 box-border p-0 antialiased;
  }

  *::selection {
    @apply bg-primary-500 text-white;
  }

  #__next {
    @apply h-full w-full overflow-hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-accent leading-tight text-heading;
  }
}
